@use 'mixins' as *;

.site-name {
  pointer-events: none;
  z-index: 1;
  font-size: 26vw;
  line-height: 0.6;
  position: sticky;
  text-align: center;
  top: 20px;
  padding: 20px 20px 10px;
  mix-blend-mode: unset;
  display: block;

  @include desktop-up { top: 70px; font-size: 280px; }
}
